body{
  --border-color: rgb(68, 68, 68)
}


.header{
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 20px;
  min-height: calc(100vh - 40px);
}

.header__presentation h1{
  max-width: 600px;
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--primary-color-text);
}
.header__presentation p{
  max-width: 600px;
  color: var(--secundary-color-text);
}

.header__button{
  display: block;
  width: fit-content;
  padding: 5px 10px;
  background-color: var(--ifm-color-emphasis-300);
  color: var(--primary-color-text);
  border-radius: 10px;
  box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.35);
}
.header__button:hover{
  color: currentColor !important;
  text-decoration: none !important;
}

.header__button--main{
  background-color: var(--ifm-color-primary);
  color: #FFF;
  margin-bottom: .8em;
}

.header__button--main:hover{ color: #fff !important; }

.header__github span{
  display: block;
  font-weight: bolder;
  margin-bottom: 10px;
}

.header__githubButton{
  float: right;
  padding: 5px 10px;
  font-weight: bold;
  background-color: var(--button-bg-color);
  color: var(--ifm-color-emphasis-100);
  border-radius: 10px;
  transform: scale(1);
  transition: transform .2s;
}
.header__githubButton:hover{
  color: var(--ifm-color-emphasis-100) !important;
  text-decoration: none !important;
  transform: scale(1.05);
}


@media screen and (max-width: 950px){
  .header{
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    gap: 3em;
  }
  .header__githubButton{ float: left; }
}

/* ------------------------------------------------------ */
/* ---------------- SOBRE NOSOTROS ---------------------- */
/* ------------------------------------------------------ */

.AboutUs{
  max-width: 1000px;
  margin: auto;
  padding: 0 1em;
  padding-bottom: 5em;
}

.AboutUs__h2{ margin-top: 2em; margin-bottom: 10px; }
.AboutUs__p{ color: #8d8d8d; }

.DeveloperCard{
  display: flex;
  gap: 1em;
  margin-top: 3em;
}

.DeveloperCard__image{
  width: 150px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.DeveloperCard__information h3{ font-size: 1.6em; line-height: 110%; margin-bottom: 0 }
.DeveloperCard__information p{ margin-bottom: 1em; margin-top: 4px; opacity: .8 }
.DeveloperCard__information span{ font-size: 1em; opacity: .7 }
.DeveloperCard__buttons{
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  font-size: .9em;
} 
.DeveloperCard__button{ 
  display: flex;
  gap: 5px;
  width: fit-content;
  background-color: #e8e7e7;
  color: black; 
  border-radius: 3px;
  padding: 4px 6px;
  transform: scale(1);
  transition: transform .3s;
}
.DeveloperCard__button:hover{
  color: #000 !important;
  text-decoration: none;
  transform: scale(1.05);
}
.DeveloperCard__button--linkedin{ background-color: #378fe9; color: #FFF }
.DeveloperCard__button--linkedin:hover{ color: #FFF !important }

@media screen and (max-width: 650px) {
  .DeveloperCard{
    flex-wrap: wrap;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 1em;
    margin-bottom: 2em;
  }
}